body {
}

.maincontent {
    padding: 10px;
    align-content: center;
    width: 1170px;
    display: block;
    margin: 50px auto; /* this will center the page */
}

.errorContent{
    padding: 10px;
    align-content: center;
    width: 1170px;
    display: block;
    margin: 70px auto; /* this will center the page */
}
.custombadge
{
    color: black;
    background-color: transparent;
    font-size: 16px;
}

.gridview
{
    padding:10px;
}